.crypto-card {
  display: grid;
  grid-template-columns: 0.15fr 0.6fr 0.3fr 0.15fr 0.05fr;
  gap: 1rem;
  padding:0.5rem 1rem 0.5rem 1rem;
  align-items: center;
  
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 6px 20px var(--shadow);

  text-decoration: none;
  color:var(--text-primary);
  margin: 0 auto;

}


.crypto-card-info{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

.crypto-card-symbol{
  display:flex;
  flex-direction:row;
  align-items: center;
  gap: 0.4rem;
}

.crypto-card-title,
.crypto-card-symbol p {
  color:grey;
  font-size: 0.8rem;
}


.crypto-card img{
  width:2.5rem;
  height:2.5rem;
  flex-shrink: 0;
}

.positive{
  color: var(--success);
}

.negative{
  color: var(--danger);
}

.neutral{
  color: grey;
}

.favorite-star{
  background: none;
  border: none;
  cursor: pointer;

  color: #777;
  font-size: 1.3rem;

  transition: color .25s ease,
              transform .2s ease;
}

.favorite-star:hover{
  color: #FFD700;
  transform: scale(1.15);
}

